<section class="container">
  <header class="header d-flex">

      <div class="mural" *ngIf="listPensamento.length > 0, else semPensamento">
        <!-- O ngFor é uma diretiva do Angular para percorrer listas -->
        <div *ngFor="let pensamento of listPensamento">
          <app-thought [pensamento]="pensamento"></app-thought>
        </div>
      </div>
  </header>
</section>
<ng-template #semPensamento>
  <div class="ff-inter sem-pensamentos">
    <p>
      Sem ideias hoje
    </p>
  </div>
</ng-template>
